body {
    background-color: rgb(168, 224, 224);
    padding: 0px;
    margin: 0px;

}

#header {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#right {
    position: absolute;
    right: 10px;
    top: 10px;
}

.searchwide {
    display: none;
    margin: 5px;
    flex-direction: column;
}

#cardcontainer {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-card {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.box-card img {
    width: 250px;
    height: 50%;
}